@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media only screen and (max-width: 699px) {
  html,
  body {
    margin: 0;
  }

  .welcomeBody {
    background: linear-gradient(#9a0051, black);
    height: 100%;
  }

  .welcomeSection {
    background: linear-gradient(#9a0051, black);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    width: 70%;
    padding: 15%;
  }

  .articleLogoTxt {
    margin-top: -15%;
    text-align: center;
    font-size: x-large;
    color: #d9d9d9;
    font-family: "Advent Pro", sans-serif;
  }

  .welcomeBox {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 8%;
    font-family: "Advent Pro", sans-serif;
    text-align: center;
    padding: 5%;
    margin-bottom: 40%;
  }

  .boxText {
    font-family: "Advent Pro", sans-serif;
    font-size: large;
    margin-bottom: 10%;
  }

  .signInBtn {
    font-family: "Advent Pro", sans-serif;
    width: 70%;
    margin-bottom: 3%;
    background-color: #510bab;
    border: none;
    color: #ffffff;
    font-size: larger;
    padding: 4%;
  }

  .signUpBtn {
    font-family: "Advent Pro", sans-serif;
    width: 70%;
    margin-bottom: 3%;
    border-style: solid;
    border-color: #510bab;
    border-width: 1.5px;
    font-size: larger;
    padding: 4%;
  }
/* Pantalla de registrarse */
  .articleLogoSignUp {
    width: 35%;
    display: flex;
    margin-top: 1%;
    margin-left: 81%;
  }

  .logoSignUp {
    width: 50%;
    margin-top: 5%;

  }
  .signUpSection {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#510bab 50%, white 50%);
    font-family: "Advent Pro", sans-serif;

  }

  .spanCommunityTxt {
    color: #ffffff;
    padding: -12%;
    text-align: center;
    margin: 0%;
  }

  .signUpTxtSpan {
    color: #ffffff;
    padding: 0%;
    text-align: center;
    margin-bottom: -10%;
    font-size: x-large;
}

  .registerBox{
    background:white;
    margin: 7%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    border-radius: 5%;
    padding: 8%;
    font-size: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .signUpForm {
    margin: 3%;
    padding: 1%;
    font-family: "Advent Pro", sans-serif;
  }
  
  .signUp {
    margin-bottom: 60%;
    font-size: 150%;
    text-align: left;
    font-family: "Advent Pro", sans-serif;
  }
  
  input {
    width: 100%;
    border: 1px solid #510BAB;
    border-radius: 5px;
    box-sizing: border-box; /* incluye el ancho del borde y del relleno en el ancho total */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    margin-bottom: 5%;
    padding: 2%;
    font-family: "Advent Pro", sans-serif;
  }

  #readyBtn {
    background: #510BAB;
    color: #FFFFFF;
    padding: 3.5%;
    border: 1px solid #000000;
    width: 60%;
    box-sizing: border-box; /* incluye el ancho del borde y del relleno en el ancho total */
    font-size: 130%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 3% auto auto;
  }

  #errorName {
    font-size: 130%;
    color: #F70202;
    font-weight: 550;
  }
  #errorEmail {
    font-size: 130%;
    color: #F70202;
    font-weight: 550;
  }
  #errorPassword {
    font-size: 130%;
    color: #F70202;
    font-weight: 550;
  }

  .invalid {
    border: 2px solid rgb(138, 10, 10);
  }

 .foundAccountDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: center;
  }

  .foundAccount{
    font-size: 140%;
    margin: 0%;
  }

  #goToSignIn {
    font-size: 140%;
    color: #510BAB;
    font-weight: bold;
    margin-top: 0.3%;
    margin-left: 3%;  
  }

  .googleLogo{
    width: 500%;
    margin-left: -220%;
  }

  .googleBtn{
    width: 16%;
    background: none;
    border: none;
    margin-left: 44%;
  }

  .googleTxt{
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 130%;
  }

  .signInSection {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#272727 50%, white 50%);
    font-family: "Advent Pro", sans-serif;
  }
  .signInBox{
    background:white;
    margin: 7%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    border-radius: 5%;
    padding: 8%;
    font-size: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signInForm {
    margin: 3%;
    padding: 1%;
  }

  .signIn {
    margin-bottom: 60%;
    font-size: 150%;
    text-align: left;
  }
  
  .forgetPassword{
    display: flex;
    flex-direction: column;
    font-size: 135%;
    color: #510BAB;
    text-align: center;
    margin-top: 5%;
   }

  .signInTxtSpan {
    color: #ffffff;
    padding: 0%;
    text-align: center;
    margin-bottom: -10%;
    font-size: x-large;
}

  .signInForm {
   margin: 3%;
   padding: 5%;
}

.profileNav{
  background: linear-gradient(#510BAB, #161515);
  margin-bottom: 30px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  margin-bottom: 20px;
}

.userPhotoNav {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
}

.userSpan {
  margin-top: 10px;
  text-align: center;
  color: #FFFFFF;
}

.logoutButton {
  background-color: transparent;
  color: #97a70c;
  border: none;
  padding-top: 10px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

/* Estilos para el contenedor del feed */
.feedSection {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  background-color: #161615;
  display: flex;
  flex-direction: column;
  }


/* Estilos para el contenedor de los posts */
.postsContainer {
  margin-top: 10px;
  padding: 30px;
  overflow-y: auto; /* Habilitar el desplazamiento vertical */
  max-height: 400px; /* Establecer la altura máxima del contenedor */
  background-image: url(../src/pages/images/palomitas.png);
  background-repeat: repeat;
  background-position: center;
}

/* Estilos para cada contenedor de post individual */
.postContainer {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #1959ad; /* Agregamos el borde de separación */
  box-shadow: 5px 2px 4px rgb(107, 5, 133);
}

.userPhoto {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

/* Estilos para el contenido de cada post */

.postsContainer .postContainer .postDiv {
  font-size: 20px;
  color: #000000;
}

/* Estilos para el formulario de agregar post */
.postForm {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el botón de agregar post */
.postBtn {
  background-color: #7b20af;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

/* Estilos para el campo de entrada de texto del post */
.postInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid #ceb005;
  background-color: transparent;
  font-size: 25px;
  color: #ffffff;
  outline: none;
  text-align: center;
}

.postInput::placeholder {
  color: #ffffff;
  font-size: 15px;
  opacity: 0.5;
}

.postInput:focus {
  border-bottom: 3px solid #ceb005;
}

/* Estilos para el nombre de usuario */
.usernameDiv {
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
}

/* Estilos para el texto del post */
.postDiv {
  margin-bottom: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
}

/* Estilos para el contenedor de los botones */
.buttonsContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos para los botones de "Me gusta" y "No me gusta" */
.likeBtn,
.dislikeBtn {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.dislikeBtn {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/* Estilos para los contadores de "Me gusta" y "No me gusta" */
.likesCountDiv,
.dislikesCountDiv {
  margin-right: 10px;
}

.editBtn {
  background-color: #444444;
  color: #ffffff;
}

.deleteBtn {
  background-color: #888888;
  color: #ffffff;
}

.editBtn,
.deleteBtn {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 8px;
}

.editBtn:hover,
.deleteBtn:hover {
  background-color: #333333;
}

.editBtn:focus,
.deleteBtn:focus {
  outline: none;
}

.editBtn:active,
.deleteBtn:active {
  transform: translateY(1px);
}

}